.additional {

  .title-component {
    padding-bottom: 22px;
  }

  &-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    .text {
      font-size: 21px;
      color: #9299A2;
      letter-spacing: 0px;
      line-height: 30px;
      padding-right: 10px;
    }
  }
}
